.container {
	display: grid;
	place-content: center;
	height: 100vh;
}

.flex {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	max-width: 500px;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	line-height: 125%;
}

.button {
	width: 100%;
	padding: 0.5rem 0;
	cursor: pointer;
}
